<div class="comment-controls clearfix">
    <input id="sendContent" class="txt" type="text" placeholder="我来评论">
    <button id="send" class="btn" type="button">发送</button>
</div>
<ul class="comment-list">

</ul>
<div id="more-comment">
    <a href="javascript:;">加载更多</a>
</div>