node_modules/
bower_components/
temp/
*.log
*.swp
*.vim
.*.screen
.screen

public/node_modules/
public/jcs/
public/bower/
Artworks/
CONF.json
.redis.conf
dump.rdb

logs/

.DS_Store
.idea/
/public/vide
/public/audio
dist/
