{{#each Content.RelateContents.Content}}
    <li>
        <a href="program.html?id={{ContentID}}"><img src="{{Thumb}}" height="80" width="100%"></a>
        <h3 class="overflow">{{Name}}</h3>
        <h4 class="overflow">{{Summary}}</h4>
    </li>
{{/each}}