body,
html {
    overflow-x: hidden;
    width: 360px;
    font-size: 14px;
}
video {
    width: 360px;
    height: 240px;
}
.img-circle {
    border-radius: 50%;
}
.icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: transparent no-repeat center center;
}
.list-icon{
    background-image: url("../images/list_default_icon.png");
}
.active .list-icon{
    background-image: url("../images/list_highlight_icon.png");
}
.comment-icon {
    background-image: url("../images/comment_default_icon.png");
}
.active .comment-icon{
    background-image: url("../images/comment_highlight_icon.png");
}

.box h2 {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
.box h2 span {
    float: left;
}
.box h2 a {
    float: right;
    font-size: 18px;
}
.box .list {
    overflow: hidden;
}
.box .list li {
    box-sizing: border-box;
    float: left;
    padding: 10px 10px 0;
    width: 50%;
}
.box .list img {
    width: 100%;
}
.box .list h3 {
    font-weight: bold;
    line-height: 30px;
}
.box .list h4 {
    line-height: 20px;
}

#comment-wrapper {
}
#comment-wrapper > p,
#comment-wrapper .comment-list > p {
    height: 100px;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
}
#comment-wrapper .comment-controls,
#comment-wrapper .comment-list {
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
}
#comment-wrapper .comment-controls .txt {
    box-sizing: border-box;
    float: left;
    border: 1px solid #c0c0c0;
    height: 30px;
    line-height: 20px;
    padding: 5px 10px;
    width: 80%;
}
#comment-wrapper .comment-controls .btn {
    box-sizing: border-box;
    float: left;
    border: 1px solid #C0C0C0;
    border-left: none;
    padding: 0;
    width: 20%;
    height: 30px;
}
#comment-wrapper .comment-controls .btn:hover {
    color: #666;
    background-color: #E0E0E0;
}
#comment-wrapper .comment-list li {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#comment-wrapper .comment-list li:last-child {
    margin-bottom: 0;
}
#comment-wrapper .comment-list .user,
#comment-wrapper .comment-list .user-info {
    float: left;
}
#comment-wrapper .comment-list .user-info {
    box-sizing: border-box;
    padding-left: 20px;
    width: calc(100% - 40px);
}
#comment-wrapper .comment-list .user-info h3 {
    float: left;
    height: 40px;
    line-height: 20px;
}
#comment-wrapper .comment-list .user-name {
    font-size: 16px;
}
#comment-wrapper .comment-list .coment-data {
    color: #666;
    font-size: 12px;
}
#comment-wrapper .comment-list .user-info p {
    text-align: left!important;
    margin-bottom: 0;
}
#comment-wrapper .comment-list .commend-wrap {
    float: right;
    height: 40px;
    line-height: 40px;
}
#comment-wrapper .comment-list .commend-wrap i {
    display: inline-block;
    vertical-align: text-bottom;
    height: 24px;
    width: 24px;
    background: transparent url("../images/like_icon.png") no-repeat scroll 0 0 / 24px 24px;
}
#comment-wrapper .comment-list .commend-wrap i.current {
    background-image: url(../images/like_highlight_icon.png);
}
#comment-wrapper .comment-list .commend-wrap span {
    display: inline-block;
    text-align: right;
    width: 40px;
}
#comment-wrapper .comment-list .comment-content {
    clear: both;
    float: right;
    line-height: 20px;
    margin-top: 10px;
    width: 260px;
}
#more-comment {
    background-color: #f0f0f0;
    height: 28px;
    margin-bottom: 15px;
}
#more-comment a {
    color: #06a7e1;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
#more-comment a:hover {
    background-color: #e5e5e5;
    color: #c31;
}
.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#body-index header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    padding: 20px 10px;
    width: 340px;
}
#body-index header .avatar {
    float: left;
}
#body-index .nav-bar {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    float: left;
    height: 20px;
    margin: 0 39px;
    padding: 5px 0;
    width: 200px;
}
#body-index .nav-bar a {
    border-right: 1px solid #ccc;
    color: #000;
    float: left;
    line-height: 20px;
    padding: 0 18px;
    text-decoration: none;
}
#body-index .nav-bar a.active {
    color: #42a6ea;
}
#body-index .nav-bar a.last {
    border-right: medium none;
}
#body-index .th-large {
    float: right;
}
#body-index .content {
    overflow: hidden;
    padding: 10px;
    width: 340px;
}
#body-index .content .sub-nav li {
    box-sizing: border-box;
    float: left;
    padding: 5px 0;
    width: 160px ;
    text-indent: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #4d92e3;
    border-bottom: 2px solid #b9b9b9;
    background: transparent no-repeat 20px center;
}
#body-index .content .sub-nav li:first-child {
    margin-right: 10px;
    background-image: url(../images/tv_icon.png);
}
#body-index .content .sub-nav li:last-child {
    margin-left: 10px;
    background-image: url(../images/radio_icon.png);
}
#body-index .content .main {
    overflow: hidden;
    width: 100%;
}
#body-index .content > p {
    font-size: 16px;
    line-height: 200px;
    text-align: center;
}
#body-index .content .list-wrapper {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
#body-index .content .list-wrapper:first-child {
    background: url("../images/index-bg.png") repeat-y right top;
}
#body-index .content .list-wrapper li {
    border-bottom: 2px solid #eff0f0;
    height: 70px;
    margin: 25px 15px;
}
#body-index .content .list-wrapper li a {
    display: block;
    color: #000;
    text-decoration: none;
}
#body-index .content .list-wrapper li .title {
    font-size: 16px;
}
#body-index .content .list-wrapper li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 15px;
}
#body-index .list-group h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    text-indent: 40px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
#body-index .list-group ul li {
    float: left;
    box-sizing: border-box;
    margin: 5px;
    width: calc(50% - 10px);
}
#body-index .list-group ul li h3,
#body-index .list-group ul li h4 {
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #4a4a4a;
}
#body-index .program h2 {
    color: #4a90e2;
    background: transparent url(../images/option_icon.png) no-repeat 10px center;
}
#body-index .series h2 {
    color: #f94e06;
    background: transparent url(../images/option_red_icon.png) no-repeat 10px center;
}
#body-index .series h2 a{
    float: right;
    margin-right: 15px;
    font-size: 16px;
    color: #f94e06;
}
#body-index .series h2 a:hover {
    color: #4a4a4a;
}
#body-index .program ul li {
    padding: 15px 10px !important;
    border: 1px solid #e2e3e2;
    border-radius: 5px;
}
#body-index .program ul li a {
    display: block;
    text-decoration: none;
}
#body-index .series ul li h3 {
    text-align: left;
}

#body-channel {
}
#body-channel .nav-tabs {
    border-bottom: 1px solid #e2e2e2;
    width: 360px;
    height: 40px;
    background-color: #fff;
}
#body-channel .nav-tabs li {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    width: 42%;
    height: 40px;
    background: url("../images/channel_bg.png") no-repeat right center;
}
#body-channel .nav-tabs li:first-child {

}
#body-channel .nav-tabs li:last-child {
    width: 16%;
}
#body-channel .nav-tabs li.active {
    color: #1298f2;
}
#body-channel .nav-tabs .share-ico{
    background: url("../images/e-share_l.png") no-repeat center center/ 30px 25px;
}
#body-channel .main .tabs-nav {
    background-color: #f5f5f5;
    float: left;
    width: 70px;
}
#body-channel .main #tabs_container {
    position: relative;
    float: left;
    overflow-x: hidden;
    width: 290px;
    height: 100%;
}
#tabs {
    height: 294px;
}
#body-channel .main .tabs-nav li a {
    color: #000;
    display: block;
    text-decoration: none;
}
#body-channel .main .tabs-nav li.active {
    background-color: #4a90e2;
}
#body-channel .main .tabs-nav li.active a{
    color: #fff;
}
#body-channel .main .tabs-nav li {
    border-bottom: 2px solid #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#body-channel .main #comment {
}
#body-channel .main .channel-list {
    padding-left: 20px;
    padding-right: 10px;
    width: 260px;
}
#body-channel .main .channel-list p {
    font-size: 18px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
#body-channel .main .channel-list li {
    border-bottom: 1px solid #e6e6e6;
    height: 41px;
    line-height: 41px;
    text-align: left;
    font-size: 16px;
}
#body-channel .main .channel-list li span {
    float: left;
    margin-right: 15px;
}
#body-channel .main .channel-list li span.name{
    width: 80px;
}
#body-channel .main .channel-list li span.play {
    float: left;
    color: #fa5915;
    cursor: pointer;
}
#body-list .main {
    width: 360px;
}
#body-list .main ul > p {
    height: 100px;
    line-height: 100px;
    text-align: center;
}
#body-list ul li {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 50%;
}
#body-list ul li h3 {
    font: bold 16px/30px Arial;
    height: 25px;
}
#body-list ul li span {
    position: relative;
    float: left;
    margin-right: 10px;
    font-size: 8px;
    height: 25px;
    line-height: 25px;
    text-indent: 20px;
}
#body-list ul li span:last-child {
    margin-right: 0;
}
#body-list ul li .date {
    background: url("../images/clicks_icon.png") no-repeat -7px center;
}
#body-list ul li .times {
    background: url("../images/pv_icon.png") no-repeat -7px center;
}
#body-list ul li span i {
    position: absolute;
    top: -2px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/like_icon.png") no-repeat left center / 10px 12px;
}
#body-list .main .more {
    background-color: #f0f0f0;
    height: 28px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#body-list .main .more a {
    color: #06a7e1;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
#body-list .main .more a:hover {
    background-color: #e5e5e5;
    color: #c31;
}
#body-program {
    width: 360px;
}
#body-program .video-info {
    background-color: #f1f1f1;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
#body-program .video-info .times {
    float: left;
    font-weight: bold;
}
#body-program .video-info i {
    float: right;
    height: 40px;
    margin-left: 20px;
    width: 40px;
}
#body-program .video-info i.heart {
    background: transparent url("../images/like_icon.png") no-repeat scroll center center / 25px 25px;
}
#body-program .video-info i.heart:hover {
    background-image: url('../images/like_highlight_icon.png');
}
#body-program .video-info i.share {
    background: transparent url("../images/e-share_l.png") no-repeat scroll center center / 35px 30px;
}
#body-program .box {
    padding: 10px;
}
#body-program .box .list {
    margin-bottom: 20px;
}
#body-program #comment {
    margin-top: 20px;
}
#body-program .comment-list {
    margin-top: 20px;
}
#body-program .txt {
    width: 225px!important;
}
#body-special .txt {
    line-height: 25px;
    padding: 10px 20px;
}
#body-special .box {
    padding: 10px 20px;
}
#body-program-list ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #e2e3e2;
}
#body-program-list ul li a {
    float: left;
    color: #b7b6b7;
}
#body-program-list ul li a img {
    float: left;
}
#body-program-list .program-info {
    float: left;
    margin-left: 20px;
    width: 210px;
}
#body-program-list .program-info h2 span {
    display: block;
    height: 25px;
    text-align: left;
    line-height: 25px;
    color: #000;
}
#body-program-list i{
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-indent: 30px;
}
#body-program-list h3 i {
    float: right;
}
#body-program-list .video {
    background: url("../images/clicks_icon.png") no-repeat left center;
}
#body-program-list .views {
    background: url("../images/pv_icon.png") no-repeat left center;
}
#body-program-list .favorite {
    background: url("../images/favorite_icon.png") no-repeat left center;
}