body,
html {
    overflow-x: hidden;
    width: 360px;
    font-size: 14px;
}
.img-circle {
    border-radius: 50%;
}
.more {
    background-color: #f0f0f0;
    height: 28px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.more a {
    color: #06a7e1;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
.more a:hover {
    background-color: #e5e5e5;
    color: #c31;
}
.box h2 {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
.box h2 span {
    float: left;
}
.box h2 a {
    float: right;
    font-size: 18px;
}
.box .list {
    overflow: hidden;
}
.box .list li {
    box-sizing: border-box;
    float: left;
    padding: 10px 10px 0;
    width: 50%;
}
.box .list img {
    width: 100%;
}
.box .list h3 {
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box .list h4 {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box .list h4::after {
    content: "...";
}
.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#body-index header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    padding: 20px 10px;
    width: 340px;
}
#body-index header .avatar {
    float: left;
}
#body-index .nav-bar {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    float: left;
    height: 20px;
    margin: 0 39px;
    padding: 5px 0;
    width: 200px;
}
#body-index .nav-bar a {
    border-right: 1px solid #ccc;
    color: #000;
    float: left;
    line-height: 20px;
    padding: 0 18px;
    text-decoration: none;
}
#body-index .nav-bar a.active {
    color: #42a6ea;
}
#body-index .nav-bar a.last {
    border-right: medium none;
}
#body-index .th-large {
    float: right;
}
#body-index .content {
    overflow: hidden;
    padding: 20px 10px;
    width: 340px;
}
#body-index .content .sub-nav li {
    box-sizing: border-box;
    float: left;
    padding: 15px 0;
    width: 160px ;
    text-indent: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 2px solid #b9b9b9;
    background: transparent no-repeat 20px center;
}
#body-index .content .sub-nav li:first-child {
    margin-right: 10px;
    background-image: url(../images/tv_icon.png);
}
#body-index .content .sub-nav li:last-child {
    margin-left: 10px;
    background-image: url(../images/radio_icon.png);
}
#body-index .content .main {
    overflow: hidden;
    width: 100%;
}
#body-index .content > p {
    font-size: 16px;
    line-height: 200px;
    text-align: center;
}
#body-index .content .list-wrapper {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
#body-index .content .list-wrapper li {
    border-bottom: 2px solid #eff0f0;
    height: 70px;
    margin: 60px 10px 0;
}
#body-index .content .list-wrapper li a {
    color: #000;
    text-decoration: none;
}
#body-index .content .list-wrapper li .title {
    font-size: 20px;
}
#body-index .content .list-wrapper li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 15px;
}
#body-index .box h2 {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
#body-index .box h2 span {
    float: left;
}
#body-index .box h2 a {
    float: right;
    font-size: 18px;
}
#body-index .box .list {
    overflow: hidden;
}
#body-index .box .list li {
    box-sizing: border-box;
    float: left;
    padding: 10px 10px 0;
    width: 50%;
}
#body-index .box .list img {
    width: 100%;
}
#body-index .box .list h3 {
    font-weight: bold;
    line-height: 30px;
}
#body-index .box .list h4 {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#body-index .box .list h4::after {
    content: "...";
}
#body-channel {
}
#body-channel .nav-tabs {
    background-color: #e6e6e6;
    width: 360px;
    height: 40px;
}
#body-channel .nav-tabs li {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    width: 33%;
    height: 40px;
}
#body-channel .nav-tabs li.active {
    color: #1298f2;
}
#body-channel .nav-tabs .share-ico{
    background: url("../images/e-share_l.png") no-repeat center center/ 30px 25px;
}
#body-channel .main .tabs-nav {
    background-color: #ececec;
    float: left;
    width: 70px;
}
#body-channel .main #tabs_container {
    float: left;
    overflow-x: hidden;
    width: 290px;
    height: 280px;
}
#body-channel .main .tabs-nav li a {
    color: #000;
    display: block;
    text-decoration: none;
}
#body-channel .main .tabs-nav li.active {
    background-color: #fff;
    color: #1298f2;
}
#body-channel .main .tabs-nav li {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#body-channel .main #comment {
}
#body-channel .main .channel-list {
    padding-left: 20px;
    padding-right: 10px;
    width: 260px;
}
#body-channel .main .channel-list p {
    font-size: 18px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
#body-channel .main .channel-list li {
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
#body-channel .main .channel-list li span {
    float: left;
    margin-right: 10px;
}
#body-channel .main .channel-list li span.name{
    width: 80px;
}
#body-channel .main .channel-list li span.play {
    float: left;
    color: #1298f2;
}
#comment .comment-controls,
#comment .comment-list {
    padding: 10px 20px;
}
#comment .comment-list p{
    text-align: center;
}
#comment .comment-controls .txt {
    border: 1px solid #c0c0c0;
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    width: 245px;
}
#comment .comment-controls .btn {
    box-sizing: content-box;
    float: left;
    border: 1px solid #C0C0C0;
    border-left: none;
    padding: 0;
    width: 52px;
    height: 30px;
}
#comment .comment-controls .btn:hover {
    color: #666;
    background-color: #E0E0E0;
}
#body-list .main {
    width: 360px;
}
#body-list .main ul > p {
    height: 100px;
    line-height: 100px;
    text-align: center;
}
#body-list ul li {
    box-sizing: border-box;
    float: left;
    padding: 10px 10px 0;
    width: 50%;
}
#body-list ul li h3 {
    font: bold 16px/30px Arial;
    height: 30px;
}
#body-list ul li span {
}
#body-list .main .more {
    background-color: #f0f0f0;
    height: 28px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#body-list .main .more a {
    color: #06a7e1;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
#body-list .main .more a:hover {
    background-color: #e5e5e5;
    color: #c31;
}
.comment-list li {
    margin-bottom: 15px;
}
.comment-list .user, .comment-list .user-info {
    float: left;
}
.comment-list .user-info {
    margin-left: 20px;
    width: 260px;
}
.comment-list .user-info h3 {
    float: left;
    height: 40px;
    line-height: 20px;
}
.comment-list .user-name {
    font-size: 16px;
}
.comment-list .coment-data {
    color: #666;
    font-size: 12px;
}
.comment-list .user-info p {
    margin-bottom: 0;
}
.comment-list .commend-wrap {
    float: right;
    height: 40px;
    line-height: 40px;
}
.comment-list .commend-wrap i {
    background: transparent url("../images/icon.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 24px;
    vertical-align: text-bottom;
    width: 24px;
}
.comment-list .commend-wrap i.current {
    background-position: -24px 0;
}
.comment-list .commend-wrap span {
    display: inline-block;
    text-align: right;
    width: 40px;
}
.comment-list .comment-content {
    clear: both;
    float: right;
    line-height: 20px;
    margin-top: 10px;
    width: 260px;
}
#body-program {
    width: 360px;
}
#body-program .video-info {
    background-color: #f1f1f1;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
#body-program .video-info .times {
    float: left;
    font-weight: bold;
}
#body-program .video-info i {
    float: right;
    height: 40px;
    margin-left: 20px;
    width: 40px;
}
#body-program .video-info i.heart {
    background: transparent url("../images/ic-heart-normal.png") no-repeat scroll center center / 40px 40px;
}
#body-program .video-info i.share {
    background: transparent url("../images/ic-light-share.png") no-repeat scroll center center;
}
#body-program .box {
    padding: 10px;
}
#body-program .box .list {
    margin-bottom: 20px;
}
#body-program #comment {
    margin-top: 20px;
}
#body-program .comment-list {
    margin-top: 20px;
}
#body-program .txt {
    width: 225px!important;
}


#body-special .txt {
    line-height: 25px;
    padding: 10px 20px;
}
#body-special .box {
    padding: 10px 20px;
}