body {
    font-size: 14px;
}

/* 首页样式 */
#body-index header {
    border-bottom: 1px solid #f2f2f2;
    padding: 20px 10px;
    width: 340px;
    overflow: hidden;
    background-color: #f7f7f7;
}
#body-index header .avatar {
    float: left;
}
#body-index .img-circle {
    border-radius: 50%;
}
#body-index .nav-bar {
    float: left;
    margin: 0 39px;
    width: 200px;
    padding: 5px 0;
    height: 20px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 30px;
}
#body-index .nav-bar a {
    float: left;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    padding: 0 18px;
    border-right: 1px solid #ccc ;
}
#body-index .nav-bar a.active {
    color: #42a6ea;
}
#body-index .nav-bar a.last {
    border-right: none;
}
#body-index .th-large {
    float: right;
}
#body-index .content {
    overflow: hidden;
    padding: 20px 10px;
    width: 340px;
}
#body-index .content .sub-nav li {
    box-sizing: border-box;
    float: left;
    padding: 15px 0;
    margin: 0 10px;
    width: 140px;
    font-size: 18px;
    border-bottom: 2px solid #b9b9b9;
    text-align: center;
}
#body-index .content .main {
    overflow: hidden;
    width: 100%;
}
#body-index .content > p {
    font-size: 16px;
    line-height: 200px;
    text-align: center;
}
#body-index .content .list-wrapper {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
#body-index .content .list-wrapper li {
    margin: 60px 10px 0;
    height: 70px;
    border-bottom: 2px solid #eff0f0;
}
#body-index .content .list-wrapper li .title {
    font-size: 20px;
}
#body-index .content .list-wrapper li p {
    margin-top: 15px;
}
#body-index .box h2 {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #CCC;
}
#body-index .box h2 span:first-child {
    float: left;
}
#body-index .box h2 span:last-child {
    float: right;
    font-size: 18px;
}
#body-index .box .list {
    overflow: hidden;
}
#body-index .box .list li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px 10px 0;
}
#body-index .box .list img {
    width: 100%;
}
#body-index .box .list h3 {
    font-weight: bold;
    line-height: 30px;
}
#body-index .box .list h4{
    line-height: 20px;
}

/* 频道页面 */
#body-channel {

}
#body-channel .nav-tabs {
    height: 40px;
    background-color: #e6e6e6;
}
#body-channel .nav-tabs li {
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
}
#body-channel .nav-tabs li.active {
    color: #1298F2;
}
#body-channel .main .tab-date {
    float: left;
    width: 70px;
    background-color: #ececec;
}
#body-channel .main .tab-date li {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}
#body-channel .main .tab-date li.active {
    background-color: #FFF;
}
#body-channel .main .channel-list {
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    width: 260px;
}
#body-channel .main .channel-list li {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #E6E6E6;
}
#body-channel .main .channel-list li span {
    display: inline-block;
    margin-right: 10px;
}
#body-channel .main .channel-list li span.play {
    float: right;
    color: #1298f2;
}