<div class="box">
    {{#each Categorys.Category}}
        <h2 data-id="{{CategoryID}}">
            <span>{{Name}}</span>
            <a href="/list?{{CategoryID}}"></a>
        </h2>
        <ul class="list">

        </ul>
    {{/each}}
</div>