<div class="box">
    {{#each Categorys.Category}}
        <h2 data-id="{{CategoryID}}">
            <span>{{Name}}</span>
            <span class="more"></span>
        </h2>
        <ul class="list">

        </ul>
    {{/each}}
</div>