<div class="box">
    {{#each Categorys.Category}}
        <h2>
            <span data-id="{{CategoryID}}">{{Name}}</span>
            <span>更多</span>
        </h2>
        <ul class="list">

        </ul>
    {{/each}}
</div>