<div class="list-group
    {{#contentType type}}
        program
    {{else}}
        series
    {{/contentType}}">
    {{#each Categorys.Category}}
        <h2 data-id="{{CategoryID}}">
            <span>{{Name}}</span>
        </h2>
        <ul class="list clearfix">

        </ul>
    {{/each}}
</div>