{{#each this}}
    <div class="list-wrapper">
        <ul class="list">
            {{#each Contents.Content}}
                <li>
                    <a href="./channel.html?id={{ContentID}}&type={{ContentType}}">
                        <h3 class="title">{{Name}}</h3>
                        <p>{{Channel.NowPlay.ProgramName}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/each}}
