{{#each this}}
    <div class="list-wrapper">
        <ul class="list">
            {{#each Contents.Content}}
                <li>
                    <h3 class="title">{{Name}}</h3>
                    <p>正在播出：扬州新闻</p>
                </li>
            {{/each}}
        </ul>
    </div>
{{/each}}