<ul>
    {{#each Content.Series.Programs.Program}}
        <li class="clearfix">
            <a  href="program.html?id={{ContentID}}&type=Program">
                <img src="{{Poster}}" height="60" width="100">
            </a>
            <div class="program-info">
                <h2 class="clearfix">
                    <span class="overflow">{{Name}}</span>
                    <i class="video">{{formatTime CreateTime 'MM-DD HH:mm'}}</i>
                </h2>
                <h3 class="clearfix">
                    <i class="favorite">456</i>
                    <i class="views">123</i>
                </h3>
            </div>
        </li>
    {{/each}}
</ul>