{{#if video}}
    <video controls="controls" autoplay="autoplay" src="{{AccessUrl}}"></video>
{{else}}
    <div class="audio-wrapper">
        <img src="../images/audio.jpg" height="100%" width="100%">
        <audio id="audio" controls="controls" autoplay="autoplay" src="{{AccessUrl}}"></audio>
    </div>
{{/if}}