{{#if video}}
    <div class="video-wrapper">
        <video id="video" controls="controls" autoplay="autoplay" webkit-playsinline="true" src="{{AccessUrl}}"></video>
    </div>
{{else}}
    <div class="audio-wrapper">
        <img src="../images/audio.jpg" height="100%" width="100%">
        <audio id="audio" controls="controls" autoplay="autoplay" src="{{AccessUrl}}"></audio>
    </div>
{{/if}}