{{#each Comments.Comment}}
    <li class="clearfix">
        <div class="user">
            <img class="img-circle" width="40px" height="40px" src="../images/avatar-placeholder.png">
        </div>
        <div class="user-info clearfix">
            <h3>
                <p class="user-name">{{UserID}}</p>
                <p class="coment-data">{{CreateTime}}</p>
            </h3>
            <div class="commend-wrap">
                <i> </i>
                <span>{{Praise}}</span>
            </div>
            <div class="comment-content">{{Detail}}</div>
        </div>
    </li>
{{/each}}
