<div id="body-channel">
    <video width="360" height="240" controls="controls" src="vide/s7_tvc.mp4"></video>
    <ul class="nav-tabs">
        <li class="active">节目单</li>
        <li>评论</li>
        <li>图片</li>
    </ul>
    <div class="main">
        <div id="tabs">
            <ul class="tabs-nav">

            </ul>
            <div id="tabs_container">
                <div id="tabs-1">
                    <ul class="channel-list">

                    </ul>
                </div>
            </div><!--End tabs container-->
        </div><!--End tabs-->
        <div id="comment" style="display: none">
            <div class="comment-controls clearfix">
                <input class="txt" type="text" placeholder="我来评论">
                <button class="btn" type="button">发送</button>
            </div>
            <ul class="comment-list">

            </ul>
            <div class="more">
                <a href="javascript:;">加载更多</a>
            </div>
        </div>
    </div>
</div>
