<div id="media-wrapper">

</div>
<ul class="nav-tabs">
    <li class="active"><i class="list-icon icon"></i>节目单</li>
    <li id="get-comment"><i class="comment-icon icon"></i>评论</li>
    <li class="share-ico"></li>
</ul>
<div class="main">
    <div id="tabs" class="clearfix">
        <ul class="tabs-nav">

        </ul>
        <div id="tabs_container">
            <ul class="channel-list">

            </ul>
        </div><!--End tabs container-->
    </div><!--End tabs-->
    <div id="comment-wrapper" style="display: none"><p>数据加载中……</p></div>
</div>