<header>
    <div class="avatar">
        <img width="30px" height="30px" class="img-circle" src="../img/avatar-placeholder.png">
    </div>
    <div class="nav-bar">
        <a class="active" href="#">直播</a>
        <a href="#">点播</a>
        <a class="last" href="#">专辑</a>
    </div>
    <div class="th-large">
        <img width="30px" height="30px" class="img-circle" src="../img/avatar-placeholder.png">
    </div>
</header>
<div class="content">
    <div class="nav-left">
        <h2>电视直播</h2>
        <ul>
            <li><h3 class="title">新闻频道</h3>
                <p>正在播出：扬州新闻</p></li>
            <li><h3 class="title">城市频道</h3>
                <p>正在播出：关注</p></li>
            <li><h3 class="title">生活频道</h3>
                <p>正在播出：今日生活</p></li>
            <li><h3 class="title">新闻频道</h3>
                <p>正在播出：扬州新闻</p></li>
            <li><h3 class="title">新闻频道</h3>
                <p>正在播出：扬州新闻</p></li>
        </ul>
    </div>
    <div class="nav-right">
        <h2>电台直播</h2>
        <ul>
            <li><h3 class="title">F103.5新闻广播</h3>
                <p>正在播出：扬州新闻</p></li>
            <li><h3 class="title">城市频道</h3>
                <p>正在播出：关注</p></li>
            <li><h3 class="title">生活频道</h3>
                <p>正在播出：今日生活</p></li>
            <li><h3 class="title">新闻频道</h3>
                <p>正在播出：扬州新闻</p></li>
            <li><h3 class="title">新闻频道</h3>
                <p>正在播出：扬州新闻</p></li>
        </ul>
    </div>
</div>