doctype html
block before_everything
html
    head
        block head_start
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        title= title
        link(rel = 'stylesheet',type = 'text/css',href = '../css/rest.css')
        link(rel = 'stylesheet',type = 'text/css',href = '../css/style.css')
        block style_end
        script(src = "../node_modules/jquery/dist/jquery.min.js")
        script(src = "../node_modules/handlebars/dist/handlebars.min.js")
        script(src = "../node_modules/js-cookie/src/js.cookie.js")
        script(src = "../node_modules/moment/min/moment.min.js")
        script(src = "../node_modules/spin.js/spin.min.js")
        script(src = "../node_modules/Detect.js/detect.min.js")
        script(src = "../js/common.js")
        block head_end
    body
        block body
block after_everything