* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
#media-wrapper {
    overflow: hidden;
    width: 100%;
    height: 240px;
}
#media-wrapper .video-wrapper{
    background-color: #000;
}
#media-wrapper .video-wrapper,
#media-wrapper .audio-wrapper {
    width: 100%;
    height: 100%;
}
#media-wrapper .audio-wrapper {
    position: relative;
    background-color: #f0f0f0;
}
#media-wrapper .audio-wrapper audio {
    display: none;
}
#media-wrapper .audio-wrapper i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -56px;
    margin-top: -56px;;
    display: block;
    width: 112px;
    height: 112px;
}
#media-wrapper .audio-wrapper .pause {
    background: transparent url(../images/pause.png) no-repeat center center;
}
#media-wrapper .audio-wrapper .play {
    background: transparent url(../images/play.png) no-repeat center center;
}
video {
    width: 100%;
    height: 240px;
}
.img-circle {
    border-radius: 50%;
}
.icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: transparent no-repeat center center;
}
.list-icon {
    background-image: url("../images/list_default_icon.png");
}
.active .list-icon {
    background-image: url("../images/list_highlight_icon.png");
}
.comment-icon {
    background-image: url("../images/comment_default_icon.png");
}
.active .comment-icon {
    background-image: url("../images/comment_highlight_icon.png");
}
.box h2 {
    border-bottom: 1px solid #CCC;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}
.box h2 span {
    float: left;
}
.box h2 a {
    float: right;
    font-size: 18px;
}
.box .list {
    overflow: hidden;
}
.box .list li {
    float: left;
    padding: 10px 10px 0;
    width: 50%;
}
.box .list img {
    width: 100%;
}
.box .list h3 {
    font-weight: bold;
    line-height: 30px;
}
.box .list h4 {
    line-height: 20px;
}
#comment-wrapper {
}
#comment-wrapper > p,
#comment-wrapper .comment-list > p {
    height: 100px;
    font-size: 16px;
    line-height: 100px;
    text-align: center;
}
#comment-wrapper .comment-controls,
#comment-wrapper .comment-list {
    padding: 10px 20px;
    width: 100%;
}
#comment-wrapper .comment-controls .txt,
#comment-wrapper .comment-controls .btn {
    float: left;
    border: 1px solid #C0C0C0;
    height: 30px;
    border-radius: 0;
}
#comment-wrapper .comment-controls .txt {
    line-height: 20px;
    padding: 5px 10px;
    width: 80%;
}
#comment-wrapper .comment-controls .btn {
    border: 1px solid #C0C0C0;
    border-left: none;
    padding: 0;
    width: 20%;
}
#comment-wrapper .comment-controls .btn:hover {
    color: #666;
    background-color: #E0E0E0;
}
#comment-wrapper .comment-list li {
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#comment-wrapper .comment-list li:last-child {
    margin-bottom: 0;
}
#comment-wrapper .comment-list .user {
    float: left;
}
#comment-wrapper .comment-list .user-info {
    padding-left: 20px;
    margin-left: 40px;
}
#comment-wrapper .comment-list .user-info h3 {
    float: left;
    height: 40px;
    line-height: 20px;
}
#comment-wrapper .comment-list .user-name {
    font-size: 16px;
}
#comment-wrapper .comment-list .coment-data {
    color: #666;
    font-size: 12px;
}
#comment-wrapper .comment-list .user-info p {
    text-align: left !important;
    margin-bottom: 0;
}
#comment-wrapper .comment-list .commend-wrap {
    float: right;
    height: 40px;
    line-height: 40px;
}
#comment-wrapper .comment-list .commend-wrap i {
    display: inline-block;
    vertical-align: text-bottom;
    height: 24px;
    width: 24px;
    background: transparent url("../images/like_icon.png") no-repeat scroll 0 0 / 24px 24px;
}
#comment-wrapper .comment-list .commend-wrap i.current {
    background-image: url(../images/like_highlight_icon.png);
}
#comment-wrapper .comment-list .commend-wrap span {
    display: inline-block;
    text-align: right;
    width: 40px;
}
#comment-wrapper .comment-list .comment-content {
    clear: both;
    float: right;
    line-height: 20px;
    margin-top: 10px;
    width: 100%;
}
#more-comment {
    background-color: #F0F0F0;
    height: 28px;
    margin-bottom: 15px;
}
#more-comment a {
    color: #06A7E1;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
#more-comment a:hover {
    background-color: #E5E5E5;
    color: #C31;
}
.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#body-index header {
    background-color: #F7F7F7;
    border-bottom: 1px solid #F2F2F2;
    overflow: hidden;
    padding: 20px 10px;
    width: 340px;
}
#body-index header .avatar {
    float: left;
}
#body-index .nav-bar {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 30px;
    float: left;
    height: 20px;
    margin: 0 39px;
    padding: 5px 0;
    width: 200px;
}
#body-index .nav-bar a {
    border-right: 1px solid #CCC;
    color: #000;
    float: left;
    line-height: 20px;
    padding: 0 18px;
    text-decoration: none;
}
#body-index .nav-bar a.active {
    color: #42A6EA;
}
#body-index .nav-bar a.last {
    border-right: medium none;
}
#body-index .th-large {
    float: right;
}
#body-index .content {
    overflow: hidden;
    padding: 10px;
}
#body-index .content .sub-nav li {
    float: left;
    width: 50%;
}
#body-index .content .sub-nav li span {
    display: block;
    padding: 5px 0;
    text-indent: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: #4486cf;
    border-bottom: 1px solid #eff0f0;
    background: transparent no-repeat 35px center / 25px 25px;
}
#body-index .content .sub-nav li:first-child span {
    margin-right: 15px;
    background-image: url(../images/tv_icon.png);
}
#body-index .content .sub-nav li:last-child span {
    margin-left: 15px;
    background-image: url(../images/radio_icon.png);
}
#body-index .content .main {
    overflow: hidden;
    width: 100%;
}
#body-index .content > p {
    font-size: 16px;
    line-height: 200px;
    text-align: center;
}
#body-index .content .list-wrapper {
    float: left;
    width: 50%;
}
#body-index .content .list-wrapper:first-child {
    background: url("../images/index-bg.png") repeat-y right top;
}
#body-index .content .list-wrapper li {
    border-bottom: 1px solid #EFF0F0;
    height: 60px;
    margin: 15px 15px;
}
#body-index .content .list-wrapper li:last-child {
    margin-bottom: 0;
}
#body-index .content .list-wrapper li a {
    display: block;
    color: #000;
    text-decoration: none;
}
#body-index .content .list-wrapper li .title {
    font-size: 16px;
    color: #444;
}
#body-index .content .list-wrapper li p {
    margin-top: 10px;
    font-size: 12px;
    color: #A6A6A6;
}
#body-index .list-group h2 {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    text-indent: 40px;
    font-size: 20px;
    height: 40px;
    line-height: 35px;
}
#body-index .list-group ul li {
    overflow: hidden;
    float: left;
    width: 50%;
}
#body-index .list-group ul li > a{
    display: block;
    height: 90px;
}
#body-index .list-group ul li h3,
#body-index .list-group ul li h4 {
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #4A4A4A;
}
#body-index .program ul li h3 {
    font-size: 14px;
    color: #444;
}
#body-index .program ul li h4 {
    font-size: 12px;
    color: #A6A6A6;
}
#body-index .program h2 {
    color: #4A90E2;
    background: transparent url(../images/option_icon.png) no-repeat 10px center;
}
#body-index .series h2 {
    background: transparent url(../images/option_red_icon.png) no-repeat 10px center;
}
#body-index .program h2 span {
    font-size: 16px;
    color: #4486cf;
}
#body-index .series h2 span {
    font-size: 16px;
    color: #333;
}
#body-index .series h2 a {
    float: right;
    margin-right: 15px;
    text-indent: 0;
    font-size: 12px;
    color: #A6A6A6;
}
#body-index .series h2 a:hover {
    color: #4A4A4A;
}
#body-index .program ul li {
    width: 50%;
}
#body-index .program ul li a {
    position: relative;
    display: block;
    margin: 5px;
    height: 90px;
    border: 1px solid #E2E3E2;
    border-radius: 5px;
}
#body-index .program ul li a img {
    z-index: -9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#body-index .series ul li h3 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #444;
    text-align: left;
}
#body-channel {
    height: 100%;
}
#body-channel .nav-tabs {
    border-bottom: 1px solid #E2E2E2;
    height: 40px;
    background-color: #FFF;
}
#body-channel .nav-tabs li {
    cursor: pointer;
    float: left;
    line-height: 40px;
    padding: 0 10px;
    text-align: center;
    width: 42%;
    height: 40px;
    background: url("../images/channel_bg.png") no-repeat right center;
}
#body-channel .main {
    height: calc(100% - 280px);
}
#body-channel .nav-tabs li:first-child {
}
#body-channel .nav-tabs li:last-child {
    width: 16%;
}
#body-channel .nav-tabs li.active {
    color: #1298F2;
}
#body-channel .nav-tabs .share-ico {
    background: url("../images/e-share_l.png") no-repeat center center/ 30px 25px;
}
#body-channel .main .tabs-nav {
    background-color: #F5F5F5;
    float: left;
    width: 70px;
    height: 100%;
}
#body-channel .main #tabs_container {
    position: relative;
    margin-left: 70px;
    overflow-x: hidden;
    height: 100%;
}
#body-channel #tabs {
    height: 100%;
}
#body-channel .main .tabs-nav li {
    position: relative;
    border-bottom: 2px solid #FFF;
    font-size: 16px;
    height: 14.285714281429%;
    text-align: center;
    cursor: pointer;
}
#body-channel .main .tabs-nav li a {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    height: 20px;
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
#body-channel .main .tabs-nav li.active {
    background-color: #4A90E2;
}
#body-channel .main .tabs-nav li.active a {
    color: #FFF;
}
#body-channel .main #comment {
}
#body-channel .main .channel-list {
    padding-left: 20px;
    padding-right: 10px;
}
#body-channel .main .channel-list p {
    font-size: 18px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
#body-channel .main .channel-list li {
    border-bottom: 1px solid #E6E6E6;
    height: 41px;
    line-height: 41px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
}
#body-channel .main .channel-list li.active span {
    color: #F00;
}
#body-channel .main .channel-list li span {
    float: left;
    padding-left: 10px;
    width: 33.333333333%;
}
#body-channel .main .channel-list li span.date {
    padding-left: 0;
    text-align: center;
}
#body-channel .main .channel-list li span.name {

}
#body-channel .main .channel-list li span.full-name {
    width: 66.666666666%;
}
#body-channel .main .channel-list li span.play {
    font-size: 12px;
    color: #FA5915;
}
#body-list .main ul > p {
    height: 100px;
    line-height: 100px;
    text-align: center;
}
#body-list ul li {
    float: left;
    padding: 10px 10px 0;
    width: 50%;
}
#body-list ul li h3 {
    font: bold 16px/25px Arial;
    height: 25px;
}
#body-list ul li span {
    position: relative;
    float: left;
    margin-right: 10px;
    font-size: 8px;
    height: 25px;
    line-height: 25px;
    text-indent: 20px;
}
#body-list ul li span:last-child {
    margin-right: 0;
}
#body-list ul li .date {
    background: url("../images/clicks_icon.png") no-repeat -7px center;
}
#body-list ul li .times {
    background: url("../images/pv_icon.png") no-repeat -7px center;
}
#body-list ul li span i {
    position: absolute;
    top: -2px;
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/like_icon.png") no-repeat left center / 10px 12px;
}
#body-list .main .more {
    background-color: #F0F0F0;
    height: 28px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#body-list .main .more a {
    color: #06A7E1;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
#body-list .main .more a:hover {
    background-color: #E5E5E5;
    color: #C31;
}
#body-program {
    width: 100%;
}
#body-program .video-info {
    background-color: #F1F1F1;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
#body-program .video-info .times {
    float: left;
    font-weight: bold;
}
#body-program .video-info i {
    float: right;
    height: 40px;
    margin-left: 20px;
    width: 40px;
}
#body-program .video-info i.heart {
    background: transparent url("../images/like_icon.png") no-repeat scroll center center / 25px 25px;
}
#body-program .video-info i.heart:hover {
    background-image: url('../images/like_highlight_icon.png');
}
#body-program .video-info i.share {
    background: transparent url("../images/e-share_l.png") no-repeat scroll center center / 35px 30px;
}
#body-program .box {
    padding: 10px;
}
#body-program .box .list {
    margin-bottom: 20px;
}
#body-program #comment {
    margin-top: 20px;
}
#body-program .comment-list {
    margin-top: 20px;
}
#body-program .txt {
}
#body-special .txt {
    line-height: 25px;
    padding: 10px 20px;
}
#body-special .box {
    padding: 10px 20px;
}
#body-program-list > p {
    text-align: center;
    line-height: 100px;
}
#body-program-list ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #E2E3E2;
}
#body-program-list ul li a {
    float: left;
    color: #B7B6B7;
}
#body-program-list ul li a img {
    float: left;
}
#body-program-list .program-info {
    float: left;
    padding-left: 20px;
    width: calc(100% - 100px);
}
#body-program-list .program-info a {
    text-decoration: none;
}
#body-program-list .program-info a span {
    display: block;
    height: 25px;
    text-align: left;
    line-height: 25px;
    color: #000;
}
#body-program-list i {
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    text-indent: 30px;
}
#body-program-list h3 i {
    float: right;
}
#body-program-list .video {
    background: url("../images/clicks_icon.png") no-repeat left center;
}
#body-program-list .views {
    background: url("../images/pv_icon.png") no-repeat left center;
}
#body-program-list .favorite {
    background: url("../images/favorite_icon.png") no-repeat left center;
}
#cp_container_1 {
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: content-box;
    margin: -100px 0 0 -100px;
}